body{
    font-family: 'Poppins', sans-serif;
    
}
/**********start first section********/
.h1-color{
    color: slateblue;
}
h1{
    font-size: 40px;
}
.section-flex{
    display: flex;
    margin-bottom: 9px;
    
}

.fast-section-div{
    width: 50%;
    padding-left: 80px;
}

.fast-section-div img{
    width: 70%;
    padding-left: 20%;

}

.expolre-button{
    text-decoration: none;
    background: slateblue;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
}
/****************end************/
/*************second-section start*************/
.heder{
    border-left: 5px solid slateblue;
    padding: 9px;
    border-radius: 5px;
    
}

.color-hed{
    color: slateblue;
    
}

.aling{
    padding-left: 28%;
}

.thow-section{
    margin-bottom: 10%;
    /*****************end************/
    /*********three section***********/
}
.thre-box{
    width: 25%;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
   border-radius: 10px;
   
}

#three-tp-coler-one{
    background-color : slateblue;
}
#three-tp-coler-thwo{
    background-color: rgb(221, 19, 170);
}
#three-tp-coler-three{
    background-color: steelblue;
}

.thre-box img{
    width: 60%;
}

.img-div img{
    width: 70%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 40%;
}

.three-section{
    margin-bottom: 10%;
}
/*************end***********/

/*******section-four********/
.four-section{
    padding-left: 8%;
}

.section-four-txt{
    width: 50%;
}

.section-img-four img{
    width: 80%;
    
}
/********end****/

/*****saction-five*******/
.secion-five-img img{
    width: 100%;
    padding-left: 10%;
    border-radius: 10px;
}

.secion-five-tex{
    width: 40%;
    padding-left: 10%;

}
/********end********/

/***footer*******/
.end{
    text-align: center;
    background-color: rgb(18, 117, 230);

}
/********footerend/**********/

