body{
    font-family: 'Poppins', sans-serif;
    
}

.h1-color{
    color: slateblue;
}
h1{
    font-size: 40px;
}
.section-flex{
    display: flex;
    margin-bottom: 9px;
}

.fast-section-div{
    width: 50%;
    padding-left: 80px;
}

.fast-section-div img{
    width: 70%;
    padding-left: 20%;

}

.expolre-button{
    text-decoration: none;
    background: slateblue;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
}
.heder{
    border-left: 5px solid slateblue;
    padding: 9px;
    
}

#color-hed{
    color: slateblue;
    
}

.aling{
    padding-left: 28%;
}